In [1]:
#1.Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
#file named test.txt.
test1='This is a test of the emergency text system,'
test1

'This is a test of the emergency text system,'

In [4]:
output_file = open("test.txt", "w")
output_file.write(test1)
output_file.close()

This is a test of the emergency text system,

In [19]:
#2. Read the contents of the file test.txt into the string test2. Is there a difference between test 1 and
#test 2?
output_file = open("test.txt", "r")
test2=output_file.read()
output_file.close()
print("Content of file =>",test2)
if test1 == test2:
    print("test1 and test2 string are equal")
else:
    print("test1 and test2 are not equal")

Content of file => This is a test of the emergency text system,
test1 and test2 string are equal

In [20]:
#3. Create a file called books.csv with these text lines. You must surround a field with quotes if it includes a comma if the fields are separated by commas.
#Lynne Truss, "Eats, Shoots, and Leaves" author, book J R R Tolkien, "The Hobbit" Lynne Truss, "Eats, Shoots, and Leaves"
text='Lynne Truss, "Eats, Shoots, and Leaves" author, book J R R Tolkien, "The Hobbit" Lynne Truss, "Eats, Shoots, and Leaves"'
text

'Lynne Truss, "Eats, Shoots, and Leaves" author, book J R R Tolkien, "The Hobbit" Lynne Truss, "Eats, Shoots, and Leaves"'

In [2]:
#import csv
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Lynne Truss', ' "Eats', ' Shoots', ' and Leaves" author', ' book J R R Tolkien', ' "The Hobbit" Lynne Truss', ' "Eats', ' Shoots', ' and Leaves"']

In [12]:
#4. To read books, use the csv module and its DictReader tool.
#To the variable books, add a csv file. In books, print the ideals. Was DictReader able to manage the quotes and commas in the title of the second book?
with open("books.csv", 'r') as f:
    reader = csv.DictReader(f)
    data = list(f)
    print("from list ", data)
    for row in reader:
        print("from dict reader ",row)

from list  ['Lynne Truss, "Eats, Shoots, and Leaves" author, book J R R Tolkien, "The Hobbit" Lynne Truss, "Eats, Shoots, and Leaves"']

In [16]:
#5. Use the following lines to build a CSV file called books.csv:
with open("books.csv", 'r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row['writer'], row[' title'],row[' and year'])

Alan Garner  The Weirdstone of Brisingamen  1960
China MiÃ©ville  Perdido Street Station  2000
thump! None None
Terry Pratchett published his first novel  Terry Pratchett  in 2005.
Lisa Lutz's The Spellman Files was published in 2007. None None
Terry Pratchett's Small Gods was published in 1992. None None

In [27]:
#6. Build a SQLite database called books.db and a table called books with the fields title (text), author (text), and year using the sqlite3 module (integer).
import sqlite3
conn = sqlite3.connect('books.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE books
         (TITLE           TEXT    NOT NULL,
         AUTHOR          TEXT     NOT NULL,
         YEAR        INT);''')
print("Table created successfully")

Opened database successfully

OperationalError: table books already exists

In [45]:
conn.execute('''CREATE TABLE books
         (TITLE           TEXT    NULL,
         AUTHOR          TEXT     NULL,
         YEAR        INT NULL);''')
print("Table created successfully")

Table created successfully

In [53]:
#7. Read the data from books.csv into the book table.
#reading the rows from the csv and adding to list.
import csv
import sqlite3

#con = sqlite3.connect("books.db")
cur = con.cursor()

with open('books.csv', 'r') as f:
    dr = csv.DictReader(f)
    to_db = [(i['writer'], i['title'], i['and year']) for i in dr]

cur.executemany("INSERT INTO books (author, title,`year`) VALUES (?, ? ,?);", to_db)
#cur.execute("DELETE FROM books;")
cur.execute("SELECT * FROM books;")
print(cur.fetchall())
con.commit()
con.close()

[(' The Weirdstone of Brisingamen', 'Alan Garner', 1960), (' Perdido Street Station', 'China MiÃ©ville', 2000), (None, 'thump!', None), (' Terry Pratchett', 'Terry Pratchett published his first novel', ' in 2005.'), (None, "Lisa Lutz's The Spellman Files was published in 2007.", None), (None, "Terry Pratchett's Small Gods was published in 1992.", None)]

In [56]:
#8. From the book table, select and print the title column in alphabetical order.
con = sqlite3.connect("books.db")
cur = con.cursor()

#cur.execute("DELETE FROM books;")
cur.execute("SELECT title FROM books ORDER BY title;")
print(cur.fetchall())
con.commit()
con.close()

[(None,), (None,), (None,), (' Perdido Street Station',), (' Terry Pratchett',), (' The Weirdstone of Brisingamen',)]

In [62]:
#9. From the book table, select and print all columns in the order of publication.
con = sqlite3.connect("books.db")
cur = con.cursor()

#cur.execute("DELETE FROM books;")
cur.execute("SELECT author,title,year FROM books ORDER BY year DESC;")
print(cur.fetchall())
con.commit()
con.close()

[('Terry Pratchett published his first novel', ' Terry Pratchett', ' in 2005.'), ('China MiÃ©ville', ' Perdido Street Station', 2000), ('Alan Garner', ' The Weirdstone of Brisingamen', 1960), ('thump!', None, None), ("Lisa Lutz's The Spellman Files was published in 2007.", None, None), ("Terry Pratchett's Small Gods was published in 1992.", None, None)]

In [64]:
#10. Link to the sqlite3 database books using the sqlalchemy module.
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
conn = engine.connect()
row = engine.execute('SELECT title FROM books ORDER BY title ASC')
for val in row:
    print(val)
# Close connection
conn.close()

(None,)
(None,)
(None,)
(' Perdido Street Station',)
(' Terry Pratchett',)
(' The Weirdstone of Brisingamen',)

In [65]:
#11. On your device, instal the Redis server and the Python redis library (pip instal redis). Create a test Redis hash with the fields count (1) and name ('Fester Bestertester') in it. To try, print all of the fields.
#12. Increase the count in the test field and print it.

import redis

# redis configuration
redis_host = "127.0.0.1"
redis_port = 6379
redis_password = ""

r = redis.StrictRedis(host=redis_host, port=redis_port, password=redis_password, decode_responses=True)

r.hset("Name", 1, "Fester Bestertester")
r.hset("Name", 2, "test redis")

print(r.hget("Name", 1))
print(r.hget("Name", 2))

print(r.hgetall("Name"))

ModuleNotFoundError: No module named 'redis'